# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives: **
- List popular languages for Data Science
- Commonly user libraries
- Arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matpoltlob

| Data Science Tools |
| -------------------|
| Jupyter notebook|
|MATLAB |
|Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author
Jasmine